.btnE{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 30.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

}
.btnD{
    background-color: #ff6600; /* Green */
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

}

.btnG{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}